.card-body .category{
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.card-body .category div{
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 10px;
    text-align: center;
    background-color: rgba(0, 167, 110, 0.063);
    color: rgb(0, 167, 110);
}
.card-body .category .dash-details-route{
  color: #03423f;
}


.p-img{
  width: 100%;
  transition: all 2s ease;
}

.p-img:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
}
@media screen and (max-width: 1200px) {
  .dash-img{
    object-fit: cover !important;
  }
}
